@use '../assets/app-colors/app-color';

$primary-color: app-color.$primary-color;

.app-container {
    background-image: url('../assets/images/background.jpg');
    height: 100%;
    overflow: hidden;
}

.router-container {
    background-color: #ffffffe5;
    height: 85%;
    margin: 1em 12em 0 12em;
    border-radius: 12px;
    box-shadow:  0 0 30px #b6b4b4;
}