<div class="h-100 row">
   <div class="col-md-6">
        <div class="profile-picture-container">
            <img class="profile-picture" src="../../../../assets/images/profile-pic.jpeg" alt="">
        </div>
        <div class="presentation-body">
            <p >
                I'm experienced in Angular 5 and further versions of the
                framework and I have a very good knowledge of other related
                technologies. Something that defines me as a professional is my desire to
                understand and research things I don't fully handle, which enables me to
                learn from my mistakes and grow in my professional career.
            </p>
        </div>
    </div>
   <div class="col-md-6">
        <div class="presentation-intro">
            <h1>Hello, my name is Luis Veras</h1>
            <p> I'm Luis Veras, a curious and dedicated web developer with 7 years of
                experience in developing and maintaining simple and enterprise web
                applications.</p>
        </div>
        <div class="resume-download-container">
            <button type="button" class="btn btn-primary">Get resume PDF</button>
        </div>
   </div>
</div>
